<h1>{{ space.heading | markdown }}</h1>
<h2>{{ space.sub_heading }}</h2>

<h3>{{ space.signup_message }}</h3>

<form action="{{ space.permalink }}/ideas" method="post" class="form">
  <input type="hidden" name="idea[title]" value="BLANK">
  <input type="hidden" name="idea[content]" value="BLANK">

  <div class="form-field">
    <input
      type="email"
      class="input"
      name="identity[email]"
      placeholder="Enter your email"
      required>
  </div>

  <button type="submit" class="button">Submit</button>
</form>

<ul class="inline-list">
  <li class="inline-list__item">
    <a href="">
      <img src="{{ 'twitter-icon-2x.png' | image_url }}" width="32" alt="Twitter icon">
    </a>
  </li><li class="inline-list__item">
    <a href="">
      <img src="{{ 'facebook-icon-2x.png' | image_url }}" width="32" alt="Facebook icon">
    </a>
  </li><li class="inline-list__item">
    <a href="">
      <img src="{{ 'linkedin-icon-2x.png' | image_url }}" width="32" alt="LinkedIn icon">
    </a>
  </li>
</ul>

