<h1>{{ space.heading | markdown }}</h1>
<h2>{{ space.sub_heading }}</h2>

<h3>{{ space.signup_message }}</h3>

<form action="{{ space.permalink }}/ideas" method="post" enctype="multipart/form-data">
  <input type="hidden" name="idea[title]" value="BLANK">
  <input type="hidden" name="idea[content]" value="BLANK">

  <div class="form-group">
    <input type="email" class="form-control" name="identity[email]" placeholder="Enter email" required>
  </div>

  <button type="submit" class="button">Submit</button>
</form>

<img src="{{ 'twitter-icon-2x.png' | image_url }}" width="32" alt="">
<img src="{{ 'facebook-icon-2x.png' | image_url }}" width="32" alt="">
<img src="{{ 'linkedin-icon-2x.png' | image_url }}" width="32" alt="">
