<!DOCTYPE html>
<html lang="en" id="js-html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ space.title }}</title>
    <meta name="description" content="{{ space.summary }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | image_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'style.css' | stylesheet_url }}">
    <link rel="stylesheet" href="{{ 'share.css' | stylesheet_url }}">
    <style>
      {% if space.background_color != empty %}
        body {
          background-color: {{ space.background_color }};
        }
      {% endif %}

      {% if space.background_image != empty %}
        body {
          background-image: {{ space.background_image }};
        }
      {% endif %}

      {% if space.background_color == "" %}
        {% if space.background_image == "" %}
          body {
            background-image: linear-gradient(90deg,#757F9A 0,#D7DDE8 100%);
          }
        {% endif %}
      {% endif %}

      {% if space.text_color != empty %}
        body {
          color: {{ space.text_color }};
        }

        .btn {
          padding: 10px 15px;
          border-radius: 3px;
          border: none;
          margin-bottom: 20px;
          background: {{ space.text_color }};
        }
      {% endif %}
      .btn {
        color: {{ space.button_text_color }};
      }

      p a {
        color: {{space.link_color }};
      }
    </style>
    {{ space.google_analytics }}
  </head>
  <body>

    {% if space.guest_ideas %}

      <div class="wrapper" id="js-wrapper">
        <img src="{{ space.logo }}" alt="Logo">

        {{ yield }}

      </div>
    {% else %}
      <div class="wrapper" id="js-wrapper">
        <h1>This the requires <a href="http://rusic.readme.io/v1/docs/guest-ideas">guest ideas</a> to be enabled.</h1>
      </div>
    {% endif %}

    <script src="{{ 'modernizr.js' | javascript_url }}"></script>
    <script src="{{ 'main.js' | javascript_url }}"></script>
  </body>
</html>
